# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# debug logs
firebase-debug.log

# env files (can opt-in for committing if needed)
.env*

# ... otras reglas ...
package-lock.json